.myForm {
  display: flex;
  flex-direction: column;
  justify-content: left;
  align-items: flex-start;
  padding: 30px;
  background-color: white;
  border-radius: 6px;
  height: fit-content;
  width: 500px;
}