.myButton {
  border: none;
  border-radius: 8px;
  font-size: 18px;
  color: white;
  padding: 10px 30px;
  width: fit-content;
  height: fit-content;
  cursor: pointer;
  background-color: #00a91c;
}