.window {
  position: absolute;
  bottom: 0;
  left: 0;
  top: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 10px 20px 20px;
  width: 100%;
  background-color: transparent;
}

.rMargin {
  margin: 0 0 15px;
}