* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Inter;
}

#root {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f9d780;
  height: 100vh;
}
